<ul class = "users">
  <% @students.each do |student| %>
    <li><%= full_name(student) %>
      <%= link_to "Assign course", edit_courses_user_path(student.id), method: :get %>
    </li>
  <% end %>
</ul>
