<div class="row">
  <div class="span8 offset2">
    <h1>
      <%= image_tag @user.avatar.url(:small) %>
      <%= full_name(@user) %>
    </h1>
  </div>
  <div class="span2">
    <%= link_to 'Assign course', edit_courses_user_path(@user.id), method: :get, class: :assign %>
  </div>
</div>
<div class="row">
  <ul class = "courses">

    <% @courses.each do |course| %>
      <li><%= course.name %></li>
  <% end %>
  </ul>
</div>
