<% if user_signed_in? %>
  <div class="row">
    <div class="span8 offset2">
      <h1>
        <%= image_tag @user.avatar.url(:small) %>
        <%= full_name(@user) %>
      </h1>
    </div>
    <% if @user==current_user || current_user.is_teacher? %>
      <div class="span2">
        <%= current_user.is_teacher? ? () : (link_to 'Assign course', edit_courses_user_path(@user.id), method: :get, class: :assign) %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <%= render 'courses' %>
  </div>
<% end %>
