<div class="row">
  <div class="span8 offset2">
    <h1><%= @course.name %></h1>
  </div>
</div>

<%= form_for @page, url: course_pages_path(params[:course_id], params[:id]) do |f| %>
  <div class="field">
    <%= f.label :name, 'Input name for new page' %>
    <%= f.text_field :name, placeholder: 'Enter page name...' %>
  </div>
<% end %>

