<div class="row">
  <div class="span8 offset2">
    <h2><%= @page.name %></h2>
  </div>
</div>

<%# <ul class = "courses"> %>
<%#   <% @pages.each do |page| %1> %>
<%#     <li><%= @pages.name %1> %>
<%#       <%= link_to 'View page', course_page_index_path(page.id), class: :assign %1> %>
<%#     </li> %>
<%#   <% end %1> %>
<%# </ul> %>
