<div>
  <h1>Welcome to the RoR Teacher App</h1>

  <h2>
    This is the home page for the
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    RoR-teacher application.
  </h2>
</div>
  <ul class = "courses">
  <% @courses.each do |course| %>
    <li><%= course.name %></li>
  <% end %>
</ul>
