<div>
  <h1>Welcome to the RoR Teacher App</h1>

  <h2>
    This is the home page for the RoR-teacher application.
  </h2>
</div>
<ul class = "courses">
  <% @courses.each do |course| %>
    <li><%= course.name %>
      <% if user_signed_in? %>
        <% if @user.courses.include?(course) %>
          <%= link_to 'View course', course_path(course.id), method: :get, class: :assign %>
        <% else %>
          <% if course.is_public? %>
            <%= link_to 'Start course', course_path(course.id), method: :get, class: :assign %>
          <% end %>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>
