<div class="row">
  <div class="span8 offset2">
    <h1><%= @course.name %></h1>
  </div>
  <div class="span2">
    <%# <% if @user.courses.include?(@course) %1> %>
    <%# <% end %1> %>
</div>
</div>

<p>
  <%= Faker::Lorem.paragraph %>
</p>
