<div class="row">
  <div class="span8 offset2">
    <h1><%= @course.name %></h1>
  </div>
</div>

<ul class = "courses">
  <% @pages.each do |page| %>
    <li><%= page.name %>
      <%= link_to 'View page', course_page_path(params[:id], page.id), class: :assign %>
    </li>
  <% end %>
</ul>
<% if current_user.is_teacher? %>
  <p>
    <%= link_to '<i class="icon-plus"></i> Add page'.html_safe, new_course_page_path(@course.id), class: "btn btn-large" %>
  </p>
<% end %>
